<app-navbar></app-navbar>
<section class="buttons">
  <div class="container-title">
    <h1>CONTATOS</h1>
  </div>
</section>
<!-- Botao de adicionar contato -->
 
<!-- botao para pesquisar -->
<section class="search-box"> 
  <input [(ngModel)]="filter" class="search-txt" type="text" name="" placeholder="Buscar por email...">
  <a class="search-btn" >
    <mat-icon>search</mat-icon>
  </a>
</section>
<!-- <div class="form-group row">
  <label for="" class="col-sm-2 col-form-label">Filter By:</label>
  <div class="col-sm-10">
     <input [(ngModel)]="filter" class="form-control">
  </div>
</div> -->

<section>
  <div class="container-buttons">
    <button  mat-raised-button color="primary" (click)="createContact()">Novo contato</button>
    <button mat-raised-button color="primary" (click)="createUser()">Novo Usuário</button>
  </div>
  
    
  
</section>

<!-- tabela de lista de contatos -->
<section>
  <div>
    <table>
      <!-- thead -->
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Menu</th>
        </tr>
      </thead>
      <!-- tbody -->
        <tbody>
          <tr *ngFor = "let contact of filteredContacts">
            <td data-label="Nome">{{contact.name}}</td>
            <td data-label="Nome">{{contact.email}}</td>
            <td data-label="Nome">{{contact.phone}}</td>
            <td>
              <div class="container_buttons_table">
                <mat-icon (click)="deleteContacts(contact)">delete</mat-icon>
                <mat-icon (click)="editContacts(contact)">edit</mat-icon>
              </div>
            </td>

          </tr>
        </tbody>
    </table>
  </div>
</section>
