<app-navbar></app-navbar>
<section>
  <div class="title">
    <h1>Cadatrar Novo Usuário</h1>
  </div>
</section>

<section>
  <form class="container" [formGroup]="formUsers">
      <div class="col-2">
        <div class="item1">
          <label for="nome">Email:</label>
          <input formControlName="username" type="email" name="nome" class="form-control"> 
        </div>

        <div class="item2">
          <label for="nome">Senha:</label>
          <input formControlName="password" type="text" name="nome" class="form-control"> 
        </div>

        <!-- outros itens -->
        <div class="item3">
          <label for="nome">Nome:</label>
          <input formControlName="name" type="text" name="nome" class="form-control"> 
        </div>
        <div class="item4">
          <input formControlName="admin" type="checkbox" name="nome"> 
          <label  for="nome" >Administrador:</label>
        </div>

      </div>



 

      <div class="button">
        <button  (click)="save()"mat-raised-button color="primary">Salvar usuario</button>
        <button class="limpar"  (click)="limpar()"mat-raised-button color="primary">Limpar</button>
      </div>


  </form>
</section>


