<app-navbar></app-navbar>
<section>
  <div class="title">
    <h1>Cadatrar Novo Usuário</h1>
  </div>
</section>

<section>
  <form class="container">
      <div class="col-2">
        <div class="item1">
          <label for="nome">Email:</label>
          <input type="email" name="nome" class="form-control"> 
        </div>

        <div class="item2">
          <label for="nome">Senha:</label>
          <input type="text" name="nome" class="form-control"> 
        </div>

        <!-- outros itens -->
        <div class="item3">
          <label for="nome">Nome:</label>
          <input type="text" name="nome" class="form-control"> 
        </div>
        <div class="item4">
          <input type="checkbox" name="nome"> 
          <label for="nome" >Administrador:</label>
        </div>

      </div>



 

      <div class="button">
        <button mat-raised-button color="primary">Salvar contato</button>
      </div>


  </form>
</section>


