 <section class="container-login">
 
 <mat-card class="example-card">
    
      <mat-card-title class="container-logo">
        <img src="../../assets/logo2.png" alt="Logo contactura" >

      </mat-card-title>
    
    <mat-card-content>
      <form class="example-form" [formGroup]="loginform">
        <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input matInput type="email" formControlName="username" >
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" >
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="alignButtonsCenter">
        <button mat-button color="primary" (click)="login()">Entrar</button>
    </mat-card-actions>
  </mat-card>

</section>